//.topnav {
//    overflow: hidden;
//    background-color: #333;
//
//    a {
//        float: left;
//        color: #f2f2f2;
//        text-align: center;
//        padding: 14px 16px;
//        text-decoration: none;
//        font-size: 17px;
//    }
//
//    a:hover {
//        background-color: #ddd;
//        color: black;
//    }
//
//    a.active {
//        background-color: #04aa6d;
//        color: white;
//    }
//}

.nav-header {
  .bg-header {
    background-color: #20232a !important;
  }

  a, .nav-link {
    color: white !important;

    &:hover {
      color: #61dafb !important;
    }
  }

  .nav-link {
    &.active {
      color: #61dafb !important;
    }
  }

  .dropdown-menu {
    a {
      color: #212529 !important;
    }
  }

  .navbar-toggler {
    color: white !important;
    background-color: white !important;

    &:focus {
      box-shadow: none;
    }
  }
}