.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.login-container {
    .content-left {
        border: 1px solid green;
    }

    .content-right {
        border: 1px solid gray;
        border-radius: 10px;
    }
}
