@media (max-width: 576px) {
  .modal-user .modal-dialog {
    max-width: calc(100% - 50px);
    margin: 0 auto;
  }
}

.modal-user {
  .content-body {
    .red {
      color: red;
    }
  }
}

.on-top {
  position: sticky;
  top: 0;
}